body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;}
nav a:active {
    background-color:orange;
}


section {
    padding: 20px;
    flex: 1; 
}

section header {
    text-align: center;
    margin-bottom: 20px;
}

section h3 {
    color: white;
}

img.profile-image {
    width: 200px; 
    height: 200px; 
    margin: 20px auto; 
    border-radius: 50%; 
    overflow: hidden; 
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol li, ul li {
    margin-bottom: 10px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;

}

img{
    height:200px;
    width:150px;
    margin: right 1rem;
    float:left;
}
/* Existing styles are unchanged */

.teamwork-paragraph {
    overflow: auto; /* Make the paragraph scrollable if it overflows */
    margin-right: 1rem; /* Add margin to separate from the image */
    max-height: 200px; /* Set a maximum height for the scrollable area */
    max-width:200px
}
